.captcha-area {
    display: flex;
    align-items: center;
}

.captcha-image img {
    display: block;
    border-radius: 0.5rem;
    pointer-events: none;
}

.captcha-refresh {
    padding-left: 0.25rem;
}

.captcha-refresh .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    width: 32px;
    padding: 0;
    margin: 0;
}

.captcha-refresh .btn .fa {
    margin: 0;
    font-size: 16px;
}

.captcha-refresh .btn:hover {
    background: rgba(0, 0, 0, 0.04);
}
