<div class="form-group row form-group--captcha-image">
    <div class="col-md-3"></div>
    <div class="col-md-9">
        <div class="captcha-area">
            <div class="captcha-image"><img src="{{captcha_url}}" alt="captcha"/></div>
            <div class="captcha-refresh">
                <button class="btn" type="button" title="{{#str}} refresh_tooltip, local_captcha {{/str}}">
                    <i class="fa fa-refresh"></i>
                </button>
            </div>
        </div>
    </div>
</div>
<div class="form-group row form-group--captcha-input">
    <div class="col-md-3">
        <label for="{{captcha_input_name}}">{{#str}} captcha, local_captcha {{/str}}</label>
    </div>
    <div class="col-md-9">
        <input type="text" name="{{captcha_input_name}}" id="{{captcha_input_name}}" dir="ltr" class="form-control">
    </div>
</div>
{{#js}}
    require(['local_captcha/captcha'], (module) => module.init("{{captcha_base_url}}", "{{captcha_input_name}}"));
{{/js}}